Repository tweag/topiary, pull requests merged in 2023-02, with the labels that each got.

#167 Draft Nickel formatter
  Cargo.lock
  Cargo.toml
  languages/nickel.scm
  src/language.rs
  tests/samples/expected/nickel.ncl
  tests/samples/input/nickel.ncl
Labels: language: nickel

#186 [Bash] Comments
  languages/bash.scm
  tests/samples/expected/bash.sh
  tests/samples/input/bash.sh
Labels: language: bash

#206 Fix spacing before interpolated command substitutions
  languages/bash.scm
  tests/samples/expected/bash.sh
Labels: language: bash

#212 Don't enforce line break after ":" in module bindings
  languages/ocaml.scm
  tests/samples/expected/ocaml.mli
Labels: language: ocaml

#223 [OCaml] Integrate ppx attributes in field declarations
  languages/ocaml.scm
  tests/samples/expected/ocaml.ml
  tests/samples/input/ocaml.ml
Labels: language: ocaml

#234 Surround :: with spaces in all instances
  languages/ocaml.scm
  tests/samples/expected/ocaml.ml
  tests/samples/input/ocaml.ml
Labels: language: ocaml

#227 [OCaml] Multi-line attributes after field declarations
  languages/ocaml.scm
  tests/samples/expected/ocaml.ml
  tests/samples/input/ocaml.ml
Labels: language: ocaml

#236 [OCaml] line breaks between value specifications
  languages/ocaml.scm
  tests/samples/expected/ocaml.mli
  tests/samples/input/ocaml.mli
Labels: language: ocaml

#235 [OCaml] Indentation and softlines in arrays
  languages/ocaml.scm
  tests/samples/expected/ocaml.ml
  tests/samples/input/ocaml.ml
Labels: language: ocaml

#242 [OCaml] improve formatting of multiline function definitions
  languages/ocaml.scm
  tests/samples/expected/ocaml.ml
  tests/samples/input/ocaml.ml
Labels: language: ocaml

#240 [OCaml] indendation and softlines in parenthesized expressions
  languages/ocaml.scm
  tests/samples/expected/ocaml.ml
  tests/samples/input/ocaml.ml
Labels: language: ocaml

#283 [OCaml] no hardlines after `let module`
  languages/ocaml.scm
  tests/samples/expected/ocaml.ml
  tests/samples/input/ocaml.ml
Labels: language: ocaml

#300 [OCaml] Several fixes about records
  languages/ocaml.scm
  tests/samples/expected/ocaml.ml
  tests/samples/expected/ocaml.mli
  tests/samples/input/ocaml.ml
Labels: language: ocaml

#301 [OCaml] Remove wrong line breaks in nested match cases
  languages/ocaml.scm
  tests/samples/expected/ocaml.ml
  tests/samples/input/ocaml.ml
Labels: language: ocaml

#308 [OCaml] Support set expressions
  languages/ocaml.scm
  tests/samples/expected/ocaml.ml
  tests/samples/input/ocaml.ml
Labels: language: ocaml
